.heading {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 2.4rem;
}

.avatar {
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 400;
  background-color: var(--blue-light);
  border-radius: 50%;
  padding: 1.4rem 2.1rem;

}

.info p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.6rem;
  margin-bottom: 8px;
}

.info ul {
  display: flex;
}

.info li {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--purple)
}

.info li:not(:first-child) {
  margin-left: 17.6px;
}

.info span {
  margin-right: 5.6px;
}
