.button {
  background-color: var(--purple);
  color: var(--white);
  cursor: pointer;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
}

.transparent {
  background-color: transparent;
  border: solid 1.5px var(--purple);
  color: var(--purple);
}

.buttonContainer {
  margin-top: 6.7rem;
}
